@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  /* Colors */

  /* Primary */
  --nutmeg: hsl(14, 45%, 36%);
  --darkraspberry: hsl(332, 51%, 32%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --rosewhite: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --lightgrey: hsl(30, 18%, 87%);
  --wengebrown: hsl(30, 10%, 34%);
  --darkcharcoal: hsl(24, 5%, 18%);

  /* Typography */

  /* Body Copy */
  --p-font-size: 16px;

  /* Fonts */
  --header-font-family: 'Young Serif', serif;
  --body-font-family: 'Outfit', sans-serif;
  --normal: 400;
  --semibold: 600;
  --bold: 700;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base */
img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

body {
  background-color: var(--eggshell);
  font-family: var(--body-font-family);
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
}

h1 {
  color: var(--darkcharcoal);
  font-family: var(--header-font-family);
  font-size: 40px;
}

h2 {
  color: var(--nutmeg);
  font-family: var(--header-font-family);
}

p,
li,
tr,
td {
  font-size: var(--p-font-size);
  color: var(--wengebrown);
}

td {
  padding: .5rem 2rem;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--lightgrey);
}

span {
  font-weight: var(--bold);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card {
  background-color: var(--white);
  padding: 1.75rem;
  border-radius: 25px;
}

.card>* {
  margin: 1rem;
}

.card-img-container {
  padding-bottom: 1rem;
}

.card-description {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.ingredients,
.instructions {
  border-bottom: 1px solid var(--lightgrey);
}

.ingredients-title,
.instructions-title,
.nutrition-title {
  font-size: 1.8rem;
  margin-top: 1.2rem;
  margin-bottom: 1.3rem;
}

.ingredients-list,
.instructions-list {
  margin-bottom: 1.3rem;
}

.preparation-item,
.ingredients-item,
.instructions-item {
  padding-bottom: .5rem;
}

.ingredients-item,
.instructions-item {
  margin-left: 1.45rem;
  padding-left: 1rem;
  line-height: 1.5;
}

/* Preparation time */
.preparation {
  padding: 1.5rem;
  background-color: var(--rosewhite);
  border-radius: 10px;
}

.preparation-title {
  font-family: var(--body-font-family);
  font-weight: var(--bold);
  font-size: 1.2rem;
  color: var(--darkraspberry);
  margin-bottom: 1rem;
}

.preparation-list {
  margin-left: 1.5rem;
}

.preparation-item {
  padding-left: 1rem;
  line-height: 1.5;
}

.preparation-item::marker {
  color: var(--darkraspberry);
  font-size: .7rem;
}

/* Ingredients */
.ingredients-item::marker {
  color: var(--nutmeg);
  font-size: .7rem;
}

/* Instructions */
.instructions-item {
  margin-bottom: .2rem;
}

.instructions-item::marker {
  color: var(--nutmeg);
  font-weight: var(--bold);
}

/* Nutrition */
.nutrition {
  width: 100%;
}

.nutrition-title {
  text-align: start;
  font-family: var(--header-font-family);
  color: var(--nutmeg);
}

.nutrition-description {
  text-align: start;
  margin-bottom: 1rem;
}

.nutrition-value {
  font-weight: var(--bold);
  color: var(--nutmeg);
  padding: 1rem;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}